/Makefile*
analyze/debug/*
analyze/release/*
analyze/Makefile*
hists/debug/*
hists/release/*
hists/Makefile*
browse/debug/*
browse/release/*
browse/Makefile*
browse/ui/*
*.user
*.log
*.stash
*~
.DS_Store
nmx_analyze*
nmx_browse*
nmx_hists*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

!.gitignore